* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0 ,0); /* Removing lightblue highlights when clicking buttons, texts and especially images*/
}

body {
    background-color: #0F0F0F;
    font-family: Montserrat,sans-serif;
    margin: 0;
    display: grid;
    grid-auto-rows: auto 1fr;
    place-items: center;
    padding: var(--body-padding);
    height: 100vh;
}

.projects-carousel {
    top: 90vh;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 100px;
    -webkit-overflow-scrolling: touch;
    width: var(--container-width);
}

.projects-carousel::-webkit-scrollbar {
    display: none;
}

.project-card-container {
    flex: 0 0 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .8fr 2.2fr 2fr 1fr;
    grid-template-areas: 
    "language-card"
    "image-card"
    "description-card"
    "button"
    ;
    gap: 10px;
    width: var(--container-width);
    scroll-snap-align: center;
    background-color: #0F0F0F;
    height: 75vh;
    overflow: hidden;
}


.project-card-container div {
    background-color: #1D1D26;
    color: #A59C92;
    place-content: center;
    text-align: center;
    
}

.languages {
    grid-area: language-card;
}

.project-image {
    display: block;
    object-fit: cover;
    overflow: hidden;
    grid-area: image-card;
}

.project-image img {
    object-fit: fill; 
}

.project-description {
    grid-area: description-card;
}

.project-button-link {
    border-radius: 0 0 10px 10px;
    grid-area: button;
}


