* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0 ,0); /* Removing lightblue highlights when clicking buttons, texts and especially images*/
}

body {
    background-color: #0F0F0F;
    font-family: Montserrat,sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    padding: var(--body-padding);
    height: 100vh;
}

.projects-carousel {
    position: relative;
    scroll-behavior: smooth;
}

.projects-carousel .projects {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    width: var(--container-width);
    gap: 10rem;
    height: 600px;
}

.projects-carousel .projects::-webkit-scrollbar {
    display: none;
}

.project-card-container {
    flex: 1 0 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .8fr 2.2fr 2fr 1fr 1fr;
    grid-template-areas: 
    "language-card"
    "image-card"
    "description-card"
    "button"
    "navigation-space"
    ;
    gap: 10px;
    width: var(--container-width);
    scroll-snap-align: center;
    background-color: #0F0F0F;
    overflow: visible;
}

.project-card-container div {
    background-color: #1D1D26;
    color: #A59C92;
    place-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

::-webkit-scrollbar {
    display: none;
}

.languages {
    grid-area: language-card;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 1%;
    background-color: #1E1E2E !important;
}

.languages img {
    width: 2rem;
}

.highlight-text {
    color: #ABFC00;
}

.project-image {
    display: block;
    overflow: hidden;
    grid-area: image-card;
}

.project-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.project-description {
    grid-area: description-card;
    padding: 0 11% 0 11%;
}

.project-description h2 {
    font-weight: 400;
    font-size: 1.1rem;
}

.project-description p {
    font-weight: 280;
    font-size: .9rem;
    word-wrap: 1rem;
}

.project-button-link {
    grid-area: button;
    padding: 10%;
    display: flex;
    align-items: center;
    gap: .8em;
    background-color: #1E1E2E !important;
}

.project-button-link img {
    width: 1.2rem;
}

.project-button-link p {
    font-size: .9rem;
}

.navigational-stop {
    grid-area: navigation-space;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 12rem;
    left: 42%;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #A59C92;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.dot:hover {
    background-color: #ABFC00;
}




