* {
    margin: 0;
    padding: 0;
}

/* Default background color */
body, html {
    height: 100%;
}

body.official-page {
    background-color: #12121C;
}

body.maintenance-page {
    background-color: #0000A0;
    cursor: pointer;
}

#root {
    margin-left: 2%;
    margin-right: 2%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: "BSOD Font";
    src: url(../../public/fonts/Perfect.DOS.VGA.437.ttf);
}