@import "tailwindcss";

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@theme {
    --breakpoint-*: initial;

    /* Palletes */
    --color-dark-coded: #12121c;
    --color-white-coded: #dfe3ee;
    --color-brown-coded: #c77b41;
    --color-yellow-coded: #dde367;
    --color-orange-coded: #f17957;
    --color-purple-coded: #8269c7;
    --color-light-blue-coded: #a9acd7;
    --color-blue-coded: #46bb9e;
    --color-dark-intro: #10101b;
    --color-blue-bsod: #0000a0;
    --color-white-bsod: #a9acd7;

    /* Device Breakpoints */
    --breakpoint-medium-phone: 376px;
    --breakpoint-large-phone: 425px;
    --breakpoint-pablet: 500px;
    --breakpoint-large-pablet: 650px;
    --breakpoint-tablet: 768px;
    --breakpoint-small-desktop: 900px;
    --breakpoint-large-desktop: 1440px;

    /* Animations */
    --animate-blinker: blinker 1s step-end infinite;
}

@layer base {
    * {
        line-height: normal;
        box-sizing: border-box;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    body,
    html {
        min-height: 100%;
        width: 100%;
    }

    @font-face {
        font-family: "BSOD Font";
        src: url(/fonts/Perfect.DOS.VGA.437.ttf);
    }

    @font-face {
        font-family: "Pixel Code";
        src: url(/fonts/PixelCode-Medium.ttf);
    }

    @font-face {
        font-family: "Fira Code";
        src: url(/fonts/FiraCode-Medium.ttf);
    }
}
