@import "tailwindcss";

@keyframes blinker {
  50% { opacity: 0; }
}

@theme {
    --breakpoint-*: initial;
    
    /* Palletes */
    --color-dark-coded: #12121C;
    --color-white-coded: #DFE3EE;
    --color-brown-coded: #C77B41;
    --color-yellow-coded: #DDE367;
    --color-orange-coded: #F17957;
    --color-purple-coded: #8269C7;
    --color-light-blue-coded: #A9ACD7;
    --color-blue-coded: #46BB9E;
    --color-dark-intro: #10101B;
    --color-blue-bsod: #0000A0;
    --color-white-bsod: #A9ACD7;

    /* Device Breakpoints */
    --breakpoint-pablet: 500px;
    --breakpoint-large-pablet: 650px;
    --breakpoint-tablet: 768px;
    --breakpoint-small-desktop: 900px;
    --breakpoint-large-desktop: 1440px;

    /* Animations */
    --animate-blinker: blinker 1.0s step-end infinite;
}

@layer base {
    * {
        line-height: normal;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    body, html {
        height: 100%;
    }

    @font-face {
        font-family: "BSOD Font";
        src: url(/fonts/Perfect.DOS.VGA.437.ttf);
    }

    @font-face {
        font-family: 'Pixel Code';
        src: url(/fonts/PixelCode-Medium.ttf);
    }

    @font-face {
        font-family: 'Fira Code';
        src: url(/fonts/FiraCode-Medium.ttf);
    }
}