

/* * small laptop */
@media (min-width: 1024px) {
    body {
        font-size: 1rem;
        padding: 0;
        height: 100vh;
        overflow: hidden;
        padding-top: 8%;
        padding-bottom: 1%;
        padding-left: 11%;
        padding-right: 11%;
    }

    .info-cards-container {
        margin: 0 auto;
        display: grid;
        height: 70vh;
        width: 65vw;
        gap: .5rem;
        grid-template-columns:  0.394fr 0.219fr 0.355fr;
        grid-template-rows: 2fr 1fr 1fr 0fr; 
        grid-template-areas:
        "header header skillset"
        "profession qoute skillset"
        "profession qoute image"
        "navigation-space navigation-space navigation-space";
    }
    
    .introduction {
        grid-area: header;
        border-radius: 0;
    }

    .skillsets {
        grid-area: skillset;
    } 

    .image {
        /* height: 120px; */
        grid-area: image;
    }

    .dream-profession {
        /* height: 270px; */
        grid-area: profession;
    } 

    .short-qoute {
        /* height: 270px; */
        border-radius: 0;
        grid-area: qoute;
    }

    .navbar {
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 27vw;
        width: auto;
        top: 4vh;
        height: 8vh;
        border-radius: 2vh;
    }

    /* Responsive Typography https://youtu.be/erqRw3E-vn4?si=pWYE4uyBxWE0UZSm */
    .navbar ul {
        font-size: clamp(1rem, 2.3vh, 2.5rem);;
        gap: clamp(1rem, 9vw, 2.5rem);
    }

    .navigation-stop {
        height: 0;
    }
}

/* * Tablets */
@media (min-width: 600px) and (max-width: 1023px) {
    :root {
        --body-padding: 8%;
    }

    body {
        padding-top: 14%;
    }

    .info-cards-container {
        display: grid;
        gap: 10px;
        grid-template-columns: 2fr 1.8fr;
        grid-template-rows: 1.6fr .7fr 1.4fr .7fr .9fr;
        grid-template-areas: 
        "header header"
        "qoute skillset"
        "profession skillset"
        "profession image"
        "navigation-space navigation-space"
        ;
    }

    .introduction {
        border-radius: 15px 15px 0px 0px;
    }
    
    /* .skillsets {
        
        height: 365px;
    } */
    
    .image {
        overflow: hidden;
        border-radius: 0 0 15px 0;  
    }
    
    .image img {
        display: block;
        object-fit: cover;
        object-position: 0px 0px;
    }
    
    .dream-profession {
        border-radius: 0 0 0 15px;
    }
    
    .short-qoute {
        border-radius: 0;
    }

    .navbar {
        left: 20%;
        right: 20%;
        bottom: 80px;
    }

    .navbar ul {
        font-size: 1.5rem;
        gap: 4rem;
    }

   /* .navigation-stop {
        height: 120px;
    }  */
}