/* * small laptop */
@media (min-width: 1025px) {
    body {
        font-size: 1rem;
        height: 100vh;
        /* overflow: hidden; */
        padding-top: 8%;
        padding-bottom: 1%;
        padding-left: 11%;
        padding-right: 11%;
    }

    .info-cards-container {
        margin: 0 auto;
        display: grid;
        min-height: 300px;
        max-height: 500px;
        min-width: 800px;
        max-width: 1000px;
        /* height: 70vh;
        width: 65vw; */
        gap: .5rem;
        grid-template-columns:  0.394fr 0.219fr 0.355fr;
        grid-template-rows: 2fr 1fr 1fr 0fr; 
        grid-template-areas:
        "header header skillset"
        "profession qoute skillset"
        "profession qoute image"
        "navigation-space navigation-space navigation-space";
    }

    .introduction {
        background-position: center 40%;
    }
    
    
    .introduction h1 {
        font-size: 2rem;
    }

    .introduction h2 {
        font-size: 1.2rem;
    }

    .introduction p {
        font-size: 1.2rem;
    }

    .introduction #star-icon {
        top: 2%;
        right: 1%;
        position: absolute;
        width: 2rem;
    }
    
    .skillsets {
        grid-area: skillset;
        position: relative;
        padding: 0 8% 0 8%;
        overflow: hidden;
    }
    
    
    .skillsets header img {
        width: 2.1rem;
    }
    
    .skillsets header p {
        font-weight: 300;
        font-size: 1.2rem;
    }
   
    .skillsets .skills {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.7rem;
        flex-wrap: wrap;
        margin-bottom: 70px;
    }
    
    
    .skillsets .skills img {
        width: 2.6rem;
    }
    
    .short-qoute {
        grid-area: qoute;
        padding: 0 17% 0 17%;
        font-size: 1rem;
        font-weight: 300;
        background-color: #1E1E2E!important; 
    }

    .dream-profession {
        grid-area: profession;
        overflow: hidden;
        padding: 0 10% 0 10%;
        position: relative;
    }

    .dream-profession h3 {
        font-weight: 380;
        font-size: 1.2rem;
        margin-bottom: 1px;
    }

    .dream-profession p {
        font-weight: 300;
        font-size: .9rem;
    }

    .dream-profession header p {
        font-weight: 300;
        font-size: 1.2rem;
    }

    .dream-profession header img {
        width: 3rem;
    } 

    .image {
        grid-area: image;
    }

    .dream-profession {
        grid-area: profession;
    } 

    .short-qoute {
        border-radius: 0;
        grid-area: qoute;
    }

    .navbar {
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 100px;
        max-width: 400px;
        width: auto;
        height: auto;
        min-height: 20px;
        max-height: 59px;
        top: 4vh;
        border-radius: .9rem;
    }

    /* Responsive Typography https://youtu.be/erqRw3E-vn4?si=pWYE4uyBxWE0UZSm */
    .navbar ul {
        font-size: 1rem;
        gap: 2.7rem;
    }

    .navigation-stop {
        height: 0;
    }
}

/* * Tablets */
@media (min-width: 560px) and (max-width: 1024px) {
    :root {
        --body-padding: 8%;
    }

    body {
        padding-top: 14%;
    }

    .info-cards-container {
        display: grid;
        gap: 10px;
        min-width: 400px;
        max-width: 700px;
        width: auto;
        grid-template-columns: 2fr 1.8fr;
        grid-template-rows: 1.6fr .7fr 1.4fr .7fr .9fr;
        grid-template-areas: 
        "header header"
        "qoute skillset"
        "profession skillset"
        "profession image"
        "navigation-space navigation-space"
        ;
    }

    .introduction {
        border-radius: 15px 15px 0px 0px;
    }
    
    .image {
        overflow: hidden;
        border-radius: 0 0 15px 0;  
    }
    
    .image img {
        display: block;
        object-fit: cover;
        object-position: 0px 0px;
    }
    
    .dream-profession {
        border-radius: 0 0 0 15px;
    }
    
    .short-qoute {
        border-radius: 0;
    }

    .navbar {
        left: 20%;
        right: 20%;
        bottom: 80px;
        height: 71px;
    }

    .navbar ul {
        font-size: 3vw;
        gap: 8vw;
    }
}