* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0 ,0);
}

body {
    background-color: #0F0F0F;
    font-family: Montserrat,sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    padding: var(--body-padding); 
}

::-webkit-scrollbar {
    display: none;
}

.info-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 217px 101px 190px 101px 85px;
    grid-template-areas: 
    "header"
    "skillset"
    "image"
    "profession"
    "qoute"
    "navigation-space"
    ;
    gap: 10px;
    width: var(--container-width);
    overflow-y: auto;
}

.info-cards-container div { 
    background-color: #1D1D26;
    color: #A59C92;
    place-content: center;
    text-align: center;
}

.introduction { 
    border-radius: 10px 10px 0px 0px;
    grid-area: header;
}

.skillsets {
    grid-area: skillset;
}

.image {
    overflow: hidden;
    grid-area: image;
}

.image img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 0px 0px;
}

.dream-profession {
    grid-area: profession;
}

.short-qoute {
    border-radius: 0px 0px 10px 10px;
    grid-area: qoute;
}

