/* * tablet portrait */
@media (min-width: 700px) and (max-width: 1000px){
    :root {
        --body-padding: 8%;
    }

    body {
        padding-top: 20%;
    }

    .info-cards-container {
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header header"
        "github-card linkedin-card"
        "instagram-card linkedin-card"
        "instagram-card email-card"
        "navigation-space navigation-space"
        ;
    }

    .image {
        height: 203px;
        border-radius: 15px 15px 0 0;
    }

    .image img {
        object-position: 0 -210px;
    }

    .github {
        height: 325px;
    }

    .instagram {
        height: 325px;
        border-radius: 0 0 0 15px;
    }

    .linkedin {
        height: 484px;
    }

    .email {
        height: 166px;
        border-radius: 0 0 15px 0;
    }

    .navbar {
        left: 21%;
        right: 21%;
        bottom: 80px;
        height: 71px;
    }

    .navbar ul {
        font-size: 3vw;
        gap: 8vw;
    }

    .navigation-stop {
        height: 120px;
    }
}

/* @media () and () {

} */