/* * Desktop */
@media (min-width: 1025px) {
    body {
        font-size: 1rem;
        height: 100vh;
        overflow: hidden;
        padding-top: 8%;
        padding-bottom: 1%;
        padding-left: 11%;
        padding-right: 11%;
    }

    .info-cards-container {
        margin: 0 auto;
        display: grid;
        min-height: 300px;
        max-height: 500px;
        min-width: 800px;
        max-width: 1000px;
        /* height: 70vh;
        width: 65vw; */
        gap: .7rem;
        grid-template-columns:  1.6fr 2.5fr .8fr;
        grid-template-rows: 2fr 1fr 1fr 0fr; 
        grid-template-areas:
        "instagram github header"
        "instagram linkedin header"
        "email linkedin header"
        "navigation-space navigation-space navigation-space"
        ;
    }

    .image img {
        object-fit: cover;
        object-position: -320px;
        height: 100%;
        width: 100%;
    }

    .navbar {
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 100px;
        max-width: 400px;
        width: auto;
        height: auto;
        min-height: 20px;
        max-height: 59px;
        top: 4vh;
        border-radius: .9rem;
    }
    
    .linkedin img {
        width: 5rem;
    }

    .instagram #insta-save-icon {
        width: 2.3rem;
    }

    /* Responsive Typography https://youtu.be/erqRw3E-vn4?si=pWYE4uyBxWE0UZSm */
    .navbar ul {
        font-size: 1rem;
        gap: 2.7rem;
    }

    .navigation-stop {
        height: 0;
    }
}

/* * tablet portrait */
@media (min-width: 560px) and (max-width: 1024px) {
    :root {
        --body-padding: 8%;
    }

    body {
        padding-top: 20%;
    }

    .info-cards-container {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr .5fr .2fr .3fr .3fr;
        grid-template-areas: 
        "header header"
        "github linkedin"
        "instagram linkedin"
        "instagram email"
        "navigation-space navigation-space";
    }

    .image {
        border-radius: 15px 15px 0 0;
    }

    .image img {
        object-position: 0 -100px;
    }

    .instagram {
        border-radius: 0 0 0 15px;
    }

    .linkedin img {
        width: 6.5rem;
    }

    .email {
        border-radius: 0 0 15px 0;
    }

    .navbar {
        left: 20%;
        right: 20%;
        bottom: 80px;
    }

    .navbar ul {
        font-size: 3vw;
        gap: 8vw;
    }
}
    


